<h1>About</h1>
<p> We have fews fabulous coder : 
<a>
	<li><a href= <%= about_1_path%> >The masked coder</a></li>
	<li><a href= <%= about_2_path%> >The knight coder</a></li>
	<li><a href= <%= about_team_path%> >The team</a></li>
</a>
</p>

